version: '3.8'

services:
  tests:
    build: .
    container_name: effective-mobile-tests
    volumes:
      - ./:/app
      - ./allure-results:/app/allure-results
    environment:
      - PYTHONPATH=/app
      - HOST=https://www.effective-mobile.ru
    command: pytest -v --alluredir=allure-results

  allure:
    image: frankescobar/allure-docker-service
    container_name: allure-service
    ports:
      - "5050:5050"
    environment:
      CHECK_RESULTS_EVERY_SECONDS: 1
      KEEP_HISTORY: 1
    volumes:
      - ./allure-results:/app/allure-results
    depends_on:
      - tests